
body, html {
    height: 100%;
    margin: 0;
}
.split-container {
    height: 100vh;
    display: flex;
}
.left-side, .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-side {
    background-color: #ADD8E6; /* Azul Claro */
}
.right-side {
    background-color: #FFA500; /* Laranja */
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.left-side img {
    max-width: 400px;
}
.right-side img {
    max-width: 600px;
}
.error-message {
    color: red;
}