{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'AiChatApp/style/login.css' %}">
</head>
<body>
    <div class="split-container">
        <div class="left-side">
            <img src="{% static 'AiChatApp/img/Coding.png' %}" alt="Imagem Coding">
        </div>
        <div class="right-side">
            <img src="{% static 'AiChatApp/img/Dynamics.png' %}" alt="Imagem Dynamics">
        </div>
    </div>

    <div class="form-container">
        <h2>Login</h2>
        <p>Insira suas credenciais para acessar sua conta.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>

        <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se aqui</a>.</p>
    </div>
</body>
</html>