
Copiar código
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'AiChatApp/style/register.css' %}">
</head>
<body>
    <div class="split-container">
        <div class="left-side">
            <img src="{% static 'AiChatApp/img/Coding.png' %}" alt="Imagem Coding">
        </div>
        <div class="right-side">
            <img src="{% static 'AiChatApp/img/Dynamics.png' %}" alt="Imagem Dynamics">
        </div>
    </div>
    

    <div class="form-container">
        <h2>Cadastro</h2>
        <p>Preencha os campos para criar uma nova conta.</p>

        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error-message">{{ form.non_field_errors|striptags }}</div>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="error-message">{{ error|striptags }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </form>

        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>.</p>
    </div>
</body>
</html>